.header-nuansa-contact {
    font-family:brixton;
    font-size: 5vw;
    margin: 0;
    z-index: 1;
    position: relative;
    text-align: center;
}

.person {
    position: relative;
    align-items: center;
    height: 5vw;
    width: 5vw;
    margin-left:2vw;
}
.message {
    position: relative;
    align-items: center;
    height: 5vw;
    width: 5vw;
    margin-right: 2vw;
}
.container-all-contact{
    display: flex;
    align-items: center;
}
.container-header-logos{
    align-items: center;
}
.text-nuansa-page-email {
    font-family: futura;
    width: 100%;
    text-align: justify;
    font-size: 1.5vmax;
    align-self:center;
}