.header-nuansa-page {
    font-family: aloja;
    font-size: 4vw;
    margin: 0;
    z-index: 1;
    position: relative;
    text-align: center;
}
.container-header {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.spacer-nuansa {
    width:0.1vw;
}

.subheader1-nuansa {
    position: relative;
    font-size: 3vw;
    text-align: "left";
    margin: 0;
    z-index: 1;
    right: 3vw;
}

.subheader2-nuansa {
    position: relative;
    font-size: 3vw;
    text-align: "right";
    margin: 0;
    z-index: 1;
    right: 1vw;
}

.img-keong {
    width: 100%;
    height: auto;
    transform: translate(-10vw, -30vh) rotate(15deg);
    
}
.img-girl {
    width: 100%;
    height: auto;
}

.text-nuansa1 {
    font-family: "futura";
    width: 100%;
    text-align: justify;
    font-size: 1.5vmax;
}
.text-nuansa2 {
    font-family: "futura";
    width: 100%;
    text-align: justify;
    font-size: 1.5vmax;
}
.text-nuansa3 {
    font-family: "brilliant";
    margin: "0" ;
    top: 8vw;
    position: relative;
    font-size: 2vw;
}
.text-container-page1 {
    /* margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 25%; */
    background-color: #9a5434;
    padding: 0.5em;
    border-radius: 10px;
    max-height: auto;
    max-width: 30vw;
}
.text-container-page2 {
    /* margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 25%; */
    background-color: #9a5434;
    padding: 0.5em;
    border-radius: 10px;
    max-height: auto;
    max-width: 30vw;
}
.image-page-container {
    max-width: 10vw;
    max-height: auto;
    overflow: hidden;
  }
  .container-all{
    max-width: 100%; /* Ensures the container does not exceed its parent's width */
    max-height: 100%; /* Sets the maximum height of the container to the viewport height */
    position: relative;
    justify-content: center;
    align-items: top;
    display:flex;
  }