.header-nuansa-page {
    font-family: aloja;
    line-height: 1.2;
    font-size: 4vw;
    margin: 0;
    z-index: 1;
    position: relative;
    height: 100%;
}

.container-header {
    height: auto;
    max-width: 100%;
    position: relative;
}

.spacer-nuansa {
    width: 3vw;
}

.subheader-left-nuansa {
    position: relative;
    font-size: 3vw;
    text-align: left;
    margin: 0;
    z-index: 1;
}

.subheader-right-nuansa {
    position: relative;
    font-size: 3vw;
    text-align: right;
    margin: 0;
    z-index: 1;
}

.img-keong {
    width: 10vw;
    height: auto;
    transform: translate(4vw) rotate(15deg);
    z-index: 1;
}

.img-girl {
    width: 100%;
    height: auto;
}

.text-nuansa {
    font-family: "futura";
    width: 100%;
    text-align: justify;
    font-size: 1.2vmax;
}

.subtext-nuansa {
    font-family: brilliant;
    margin: 0;
    position: relative;
    line-height: 1;
    font-size: 1.5vmax;
}

h3.subtext-nuansa{
    margin-right: 2vw;
    margin-bottom: 2vh;
    font-size: 0.5vmax;
    text-align: right;  
}

.text-container-nuansa {
    background-color: #9a5434;
    padding: 0.5em;
    border-radius: 10px;
    max-height: 100%;
    max-width: 40vw;
}

.container-image-nuansa {
    max-width: 10vw;
    max-height: auto;
}

.container-all-nuansa {
    max-width: 100%; /* Ensures the container does not exceed its parent's width */
    max-height: 85vh;
    position: relative;
    justify-content: center;
    align-items: top;
    display: flex;
}

.container-subtext-nuansa {
    height: 5vh;
    width: 100%;
    position:absolute;
    bottom: 1vh;
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-end; */
}
