.App {
  text-align: center;
}

.App-header {
  background-color: #223f4f;
  min-height: 100vh;
  display: flex;
  font-size: calc(50px + 2vmin);
  color: rgb(255, 255, 255);
  font-family:'aloja';
}
.App-header2 {
  background-color: #ED994F;
  min-height: 150vh;
  display: flex;
  font-size: calc(50px + 2vmin);
  color: rgb(255, 255, 255);
}
.App-header3 {
  background-color: #9A5434;
  min-height: 100vh;
  display: flex;
  font-size: calc(35px + 2vmin);
  color: rgb(255, 255, 255);
}
